@using miniShop.Client.Dtos
@model IEnumerable<ProductResponse>
@{
    ViewData["Title"] = "Home Page";
}

<div>
   <ul>
   @foreach (var item in Model)   
   {
      <div class="card">
          <div class="card-body">
              <img class="card-img-top" src="@item.ImageUrl">
              <h3 class="card-title">@item.Name</h3>   
              <p>@item.Price</p>
              <button class="btn btn-success">Sepete Ekle</button>
          </div>
      </div> 
      <li>@item.Name</li>
   }
   </ul>
</div>
