@using miniShop.Client.Dtos
@model IEnumerable<ProductResponse>
@{
    ViewData["Title"] = "Home Page";
}

<div>
   <ul>
   @foreach (var item in Model)
   {
      <li>@item.Name</li>
   }
   </ul>
</div>
